.circular {
  border-radius: 50%;
  background: red;
  height: 100px;
  width: 100px;
  cursor: pointer;
}
.circular:hover {
  background:pink;
}
button.circular{
  font-family:ariel;
  font-size: 18px;
   font-weight: bold;
}
p {
    font-family: "Neue Helvetica", Charcol, sans-serif;
}
